    a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
    }
    a:hover {
    color: #535bf2;
    }

    body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 320px;
    min-height: 100vh;
    background: #000000;
    background: linear-gradient(130deg, rgba(0, 0, 0, 1) 50%, rgba(255, 234, 43, 1) 52%);
    }

    h1 {
    font-size: 3.2em;
    line-height: 1.1;
    color: white;
    }

    button {
        color: #f9f9f9;
        background-color: #000000;
    }
    button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    }
    button:hover {
    border-color: #646cff;
    }
    button:focus,
    button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
    }

    form {
        min-width: 310px;
        min-height: 220px;
        background-color: yellow;
        color: #1a1a1a;
    }
    div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        min-width: 500px;
        min-height: 500px;
    }
    input{
        border-radius: 10px;
        min-width: 450px;
    }
    label{
        min-width: 450px;
    }
    select{
        border-radius: 10px;
        min-width: 450px;
    }
    h2 {
        color: white;
    }
    
