* {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 1%;
    margin-right: 1%;
    
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    text-align: center;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
img {
    display: grid;
    justify-content: center;
}

.conclusion {
    background-color: red;
}

